#user-tabs {

  margin-bottom: 2em;

  .tab-holder {
    width: 100%;

    .tab {
      cursor: pointer;
      padding: 4px 1em;
      display: inline-block;
      border: 1px solid #A4286A;
      margin-bottom: -1px;
      margin-left: 4px;
      color: #A4286A;

      &.active {

        z-index: 999;
        border-bottom: 1px solid white;
      }
    }
  }

  .content-holder {
    padding: 1em;
    border: 1px solid #A4286A;
    box-shadow: 0 4px 2px -3px rgba(0,0,0,0.3);
  }

  #edd_checkout_user_info {
    margin-bottom: 0;
  }
}