.user-accounts {
  &.sub-navigation {
    ul {
      margin: 0 0 2em 0;
      border-radius: 4px;
      padding: 0 4px;
      background-color: $color-pink-dark;
      a {
        color: $color-white;
        padding: 0.5em;
        display: inline-block;
      }

      li {
        display: inline-block;

        &.active {
          background-color: $scheme-home-primary;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

body.edd-checkout {
  nav.breadcrumb {
    display: none;
  }
}

body.page-template-user_account-page {
  nav.breadcrumb {
    display: none;
  }

  th, td {
    line-height: 150%;
  }

  .edd_submit {
    @extend .button;
  }
}
