.user-accounts {
  &.sub-navigation {
    ul {
      padding: 0.5em;
      margin: 0 0 2em 0;
      background-color: $scheme-home-secondary;
      a {
        color: $color-white;
        padding: 0.2em 0.5em;
        display: inline-block;
      }

      li {
        display: inline-block;

        &.active {
          background-color: white;
          a {
            color: $scheme-home-secondary;
            text-decoration: none;
          }
        }
      }
    }
  }
}

body.page-template-user_account-page {
  th, td {
    line-height: 150%;
  }

  .edd_submit {
    @extend .button;
  }
}
